.app {
  background-color: #102a43;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
  padding: 0px 5vw;
}

.flex {
  display: flex;
}

.horizontal {
  flex-direction: row;
}

th,
td {
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}

td {
  text-align: center;
  font-size: 2.5vh;
  text-transform: capitalize;
  font-weight: 300;
}

h1,
th {
  font-size: 4vh;
}
