.app {
  background-color: #102A43;
  color: white;
  min-height: 100vh;
  padding: 0px 50px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

th, td{
  color: white;
  /* text-align: center; */
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.custom{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.flexWrap{
  flex-wrap: wrap;
}

.logo{
  margin-right: 10px;
}

.another{
  padding: 0px 50px;
}

.vSep{
  width: 1px;
  height: 100vh;
  margin: 0px 50px;
  background-color: snow;
}

.paginator{
  display: flex;
  justify-content: center;
  margin: 30px 0;
}