.app {
  background-color: #102a43;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
  padding: 2vw 2vw;
}

.flex {
  display: flex;
}

.horizontal {
  flex-direction: row;
}

th,
td {
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}

td {
  text-align: center;
  font-size: 1.5vw;
  text-transform: capitalize;
  font-weight: 400;
}

h1,
th {
  font-size: 2vw;
}

.icon {
  width: 2vw;
  height: 2vw;
}
